<div class="h-100 overflow-hidden">
    <div class="col-md-12 d-flex justify-content-center shadow" style="background:#4293ED;border:1px solid #4293ED;">
        <div style="width:69%;">
                <ul class="nav mt-2" role="tablist">
                    <li class="nav-item nav-item-first w-25" (click)="menuChoice(1)">
                        <a class="nav-link p-3 {{ menu == 1 ? 'active' : '' }}" >EQUIPES</a>
                    </li>
                    <li class="nav-item w-25" (click)="menuChoice(2)">
                        <a class="nav-link p-3 {{ menu == 2 ? 'active' : '' }}">AJOUTER</a>
                    </li>
                </ul>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
                
            <div class="container w-75" style="height:73vh" *ngIf="menu == 1" >

                <div class="d-flex justify-content-center h-100" style="overflow-y: scroll;border:1px solid rgba(0, 0, 0, 0.095);">
                        <div class="row p-2 w-75">
                            <div class="p-0 w-100">
                                <h5 class="p-2 pb-0 mb-0 mt-2">Groupe A</h5>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Equipe</th>
                                        <th>MJ</th>
                                        <th>G</th>
                                        <th>N</th>
                                        <th>P</th>
                                        <th>BP</th>
                                        <th>BC</th>
                                        <th>DB</th>
                                        <th>Pts</th>
                                        <th class="d-flex justify-content-center">5 derniers</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Urugway</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td><div class="d-flex justify-content-center"><mat-icon class="pt-1" style="font-size:100%;">done</mat-icon> x x</div></td>
                                      </tr>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Russie</td>
                                        <td>3</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>8</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td><div class="d-flex justify-content-center">x x x</div></td>
                                      </tr>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Urugway</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td><div class="d-flex justify-content-center"><mat-icon class="pt-1" style="font-size:100%;">done</mat-icon> x x</div></td>
                                      </tr>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Urugway</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td><div class="d-flex justify-content-center"><mat-icon class="pt-1" style="font-size:100%;">done</mat-icon> x x</div></td>
                                      </tr>
                
                                      
                                    </tbody>
                                  </table>
                                  <h5 class="p-2 pb-0 mb-0 mt-2">Groupe B</h5>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Equipe</th>
                                        <th>MJ</th>
                                        <th>G</th>
                                        <th>N</th>
                                        <th>P</th>
                                        <th>BP</th>
                                        <th>BC</th>
                                        <th>DB</th>
                                        <th>Pts</th>
                                        <th class="d-flex justify-content-center">5 derniers</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/5hLkf7KFHhmpaiOJQv8LmA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Espagne</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td class="d-flex justify-content-center">x x x</td>
                                      </tr>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Urugway</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td><div class="d-flex justify-content-center"><mat-icon class="pt-1" style="font-size:100%;">done</mat-icon> x x</div></td>
                                      </tr>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Urugway</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td><div class="d-flex justify-content-center"><mat-icon class="pt-1" style="font-size:100%;">done</mat-icon> x x</div></td>
                                      </tr>
                                      <tr>
                                        <td><img src="https://ssl.gstatic.com/onebox/media/sports/logos/KnSUdQWiGRoy89q4x85IgA_48x48.png" style="width:24px;height:24px;margin-bottom:4px;margin-right:5px;"/>Urugway</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>5</td>
                                        <td>9</td>
                                        <td><div class="d-flex justify-content-center"><mat-icon class="pt-1" style="font-size:100%;">done</mat-icon> x x</div></td>
                                      </tr>
                
                                      
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                </div>       
            </div>
            <div class="container w-75" style="height:73vh" *ngIf="menu == 2" >
              <app-add-equipe class="w-100"></app-add-equipe>
            </div>



    </div>
<div>

