<div class="d-flex justify-content-center h-100 pt-1" style="border:1px solid rgba(0, 0, 0, 0.095);">
    <form [formGroup]="joueurFormGroup" class="w-75" (ngSubmit)="addJoueur()">
        <div class="form-group row">
            <label class="control-label col-3 pt-2">Nom : </label>
            <input type="text" name="nom" formControlName="nom" class="form-control text-input col-6" required placeholder="Nom . . ."/>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 pt-2">Prenom : </label>
            <input type="text" name="prenom" formControlName="prenom" class="form-control text-input col-6" required placeholder="Prenom . . ."/>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 pt-2">Age : </label>
            <input type="text" name="age" formControlName="age" class="form-control text-input col-6" required placeholder="Age . . ."/>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 pt-2">Numero : </label>
            <input type="text" name="numero" formControlName="numero" class="form-control text-input col-6" required placeholder="Numero . . ."/>
        </div>
        <div class="form-group row">
            <label class="control-label col-3 pt-2">Poste : </label>
            <input type="text" name="poste" formControlName="poste" class="form-control text-input col-6" required placeholder="Poste . . ."/>
        </div>
        <div class="form-group container row">
                <div class="col-3" >
                    
                </div>  
                <div class="col-7">
                    <button type="submit" class="btn btn-info mr-3 pr-5 pl-5 float-right" [disabled]="!joueurFormGroup.valid">Submit</button>
                </div>
        </div>
    </form>





</div>   
